* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #f0f2f5;
    font-family: 'Josefin Sans', sans-serif !important;
}

.login {
    margin: 0 auto;
    width: 100%;
}

.login a {
    text-decoration: none;
    color: black;
}

#navbar-logo {
    font-size: 35px;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    justify-self: start;
    cursor: pointer;
}

#navbar-logo .sp {
    color: #F9423D;
}

.signup-form {
    margin: 5% auto;
    margin-top: 0 !important;
    width: 80%;
}

form {
    background-color: #fff;
    margin: 0 auto;
    width: 60%;
    display: grid;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

form h1 {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
    font-size: 18px;
    color: #1c1e21;
}

.form-validation {
    margin: 0 auto;
    margin-bottom: 0.5rem;
    width: 80%;
}


/* .form-validation.error {
    position: relative;
    margin-bottom: 1.5rem;
    border: 1px solid #F9423D;
    border-radius: 6px;
}

.form-validation.error p {
    display: block;
    margin-top: 1.3rem;
}

.form-validation.valid {
    position: relative;
    margin-bottom: 0.5rem;
    border: 1px solid rgb(54, 238, 54);
    border-radius: 6px;
} */

.form-validation p {
    font-size: 0.7rem;
    margin-top: 1rem;
    color: #F9423D;
    position: absolute;
    top: 1.8rem;
    display: none;
}

.modul-input {
    margin: 0 auto;
    display: block;
    padding: 14px 16px;
    width: 100%;
    height: 46px;
    border: 1px solid #dddfe2;
    outline: none;
    border-radius: 6px;
    font-size: 17px;
}

.modul-input-btn,
.btn-login {
    margin: 0 auto;
    width: 70%;
    height: 2.5rem;
    border-radius: 2px;
    background-color: #F9423D;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.modul-input-btn:hover,
.btn-login:hover {
    background-color: #3378F1;
    transition: 0.4s;
}

.modul-input-login {
    font-size: 0.9rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
    color: #F9423D;
}

.modul-input-login a {
    text-decoration: none;
    font-size: 600;
    color: #3378F1;
}

@media screen and (max-width: 720px) {
    form {
        width: 100%;
    }
    .modul-input {
        margin-bottom: 1rem;
    }
    .signup-form {
        width: 90%;
    }
}

@media screen and (min-width: 721px) and (max-width: 1150px) {
    form {
        width: 80%;
    }
    .modul-input {
        margin-bottom: 1rem;
    }
    .signup-form {
        width: 90%;
    }
}